In [12]:
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("fake_or_real_news.csv")
df.head()

,id,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [4]:
df = df[['text','label']]

In [7]:
df.head()

                                                text label
0  Daniel Greenfield, a Shillman Journalism Fello...  FAKE
1  Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE
2  U.S. Secretary of State John F. Kerry said Mon...  REAL
3  — Kaydee King (@KaydeeKing) November 9, 2016 T...  FAKE
4  It's primary day in New York and front-runners...  REAL

In [8]:
df.shape

(6335, 2)

In [9]:
# Check Imbalance or Check the distribution of the data in dataset 
df['label'].value_counts()

REAL    3171
FAKE    3164
Name: label, dtype: int64

In [33]:
df['label_num'] = df['label'].map({'FAKE':0,'REAL':1})

In [14]:
df

                                                   text label  label_num
0     Daniel Greenfield, a Shillman Journalism Fello...  FAKE          1
1     Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE          1
2     U.S. Secretary of State John F. Kerry said Mon...  REAL          1
3     — Kaydee King (@KaydeeKing) November 9, 2016 T...  FAKE          1
4     It's primary day in New York and front-runners...  REAL          1
...                                                 ...   ...        ...
6330  The State Department told the Republican Natio...  REAL          1
6331  The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...  FAKE          1
6332   Anti-Trump Protesters Are Tools of the Oligar...  FAKE          1
6333  ADDIS ABABA, Ethiopia —President Obama convene...  REAL          1
6334  Jeb Bush Is Suddenly Attacking Trump. Here's W...  REAL          1

[6335 rows x 3 columns]

In [16]:
import spacy 
nlp = spacy.load('en_core_web_lg')

In [17]:
df['vector'] = df['text'].apply(lambda text : nlp(text).vector)

In [18]:
len(df)

6335

In [35]:
df.head()

,text,label,label_num,vector
0,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE,0,"[-1.3751823, 1.3421849, -2.3666484, 0.12908486..."
1,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE,0,"[-1.7449774, 0.93961924, -2.024867, 0.42536643..."
2,U.S. Secretary of State John F. Kerry said Mon...,REAL,1,"[-1.9426425, 1.0062195, -1.9992222, 0.20469022..."
3,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE,0,"[-1.9125352, -0.1481846, -1.1432766, 0.6861217..."
4,It's primary day in New York and front-runners...,REAL,1,"[-1.8516092, 1.3163909, -2.1726575, 1.2286776,..."

In [36]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(df.vector.values,df.label_num,test_size = 0.2,random_state = 42)

In [37]:
x_train.shape

(5068,)

In [38]:
import numpy as np 
x_train_stack = np.stack(x_train)
x_test_stack = np.stack(x_test)

In [39]:
print(x_train_stack.shape)
print(x_test_stack.shape)

(5068, 300)
(1267, 300)

In [40]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

x_train_stack_sc = scaler.fit_transform(x_train_stack)
x_test_stack_sc = scaler.transform(x_test_stack)

In [41]:
model.fit(x_train_stack_sc,y_train)

MultinomialNB()

In [42]:
y_pred = model.predict(x_test_stack_sc)
y_pred

array([0, 1, 0, ..., 0, 0, 1], dtype=int64)

In [43]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7640094711917916

In [44]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.81      0.68      0.74       628
           1       0.73      0.84      0.78       639

    accuracy                           0.76      1267
   macro avg       0.77      0.76      0.76      1267
weighted avg       0.77      0.76      0.76      1267

In [45]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[429, 199],
       [100, 539]], dtype=int64)

In [ ]:
import numpy as np
sc = []
for alpha in np.arange(0,1,0.1):   # 0, 0.1, 0.2, 0.3, ....1
    model =  MultinomialNB(alpha = alpha)
    model.fit(X_train, y_train)
    model.predict(X_test)
    sc1 = accuracy_score(y_test, y_pred)
    sc.append(sc1)

In [ ]:
import gensim